body{
  background-color: black;
  color: white;
}
table{
  word-break: break-word;
}

#chat-box{
  padding: 20px;
  width: 90%;
  word-wrap: break-word;
}

#chat-control{
  margin: 0px 0px 50px 0px;
  padding: 10px;
  background-color: white;
  text-align: center;
  position: sticky;
  top: 0;
  -webkit-transform: translateZ(0);
}
#submit-but{
  width: 80%;
  border-radius: 0;
}
#handle{
  width: 80%;
}
#message{
  width: 80%;
}

.center {
    margin: auto;
}
