<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Chatroom - Home</title>
    {% load staticfiles %}

    <script>
      function goToRoom(){
        var room = document.getElementById("room-name").value;
        window.location.href = "/chat/" + room + "/";
        return false;
      }
    </script>
  </head>

  <body>
    <form class="room-box" onsubmit="return goToRoom()">
      <br>
      <h1>Start Chattering</h1>
      <br>
      <input class="center" id="room-name" type="text" placeholder="room name"><br><br>
      <button type="submit" class="btn btn-primary">Go to room</button>
    </form>

    <div class="room-box">
      <br>
      <h1>Public Rooms</h1>
      <br>
      <a class="btn btn-secondary" href="/chat/random">random</a>
      <a class="btn btn-secondary" href="/chat/school">school</a>
      <a class="btn btn-secondary" href="/chat/politics">politics</a>
      <a class="btn btn-secondary" href="/chat/help">help</a>
    </div>

    <footer class="footer">
      <p>Made by jasmaa</p>
      <p>This site uses cookies</p>
      <p>Source <a href="https://github.com/jasmaa/chatroom">here</a></p>
    </footer>

    <link rel="stylesheet" href='{% static "/chat/style.css" %}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </body>
</html>
